<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdj.message.mapper.SysMessageContentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hdj.message.entity.SysMessageContent">
        <id column="id" property="id" />
        <result column="context" property="context" />
        <result column="publish_time" property="publishTime" />
        <result column="send_user_id" property="sendUserId" />
        <result column="title" property="title" />
        <result column="message_type" property="messageType" />
        <result column="is_delete" property="isDelete" />
        <result column="module_id" property="moduleId" />
    </resultMap>

</mapper>
