<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdj.modules.user.mapper.SysUserMapper">


    <!-- 用户认证信息映射 -->
    <resultMap id="AuthUserMap" type="cn.hdj.modules.user.domain.dto.UserAuthDTO">
        <id property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="BOOLEAN"/>
        <result property="deptId" column="deptId" jdbcType="BIGINT"></result>
        <collection property="roles" ofType="string" javaType="list">
            <result column="roleCode"></result>
        </collection>
    </resultMap>

    <!-- 根据用户名获取认证信息 -->
    <select id="getUserByUserName" resultMap="AuthUserMap">
        SELECT
        t1.id userId,
        t1.username,
        t1.nickname,
        t1.PASSWORD,
        t1.STATUS,
        t1.dept_id deptId,
        t3.CODE roleCode
        FROM
        sys_user t1
        LEFT JOIN sys_user_role t2 ON t2.user_id = t1.id
        LEFT JOIN sys_role t3 ON t3.id = t2.role_id
        WHERE
        t1.username = #{username} and t1.deleted=0
    </select>
    <select id="getUserByMobile" resultType="cn.hdj.modules.user.domain.dto.UserAuthDTO">
        SELECT
        t1.id userId,
        t1.username,
        t1.nickname,
        t1.PASSWORD,
        t1.STATUS,
        t1.dept_id deptId,
        t3.CODE roleCode
        FROM
        sys_user t1
        LEFT JOIN sys_user_role t2 ON t2.user_id = t1.id
        LEFT JOIN sys_role t3 ON t3.id = t2.role_id
        WHERE
        t1.mobile = #{mobile} and t1.deleted=0
    </select>
</mapper>
